.footer {

    &__container {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        padding: 144px 15px 70px 15px;
        max-width: 1185px;
        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 56px;
            padding-top: 42px;
            padding-bottom: 186px;
        }
    }

    &__lists {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 767.98px) {
            gap: 8px;
            max-width: 100%;
        }
    }

    &__list {
        flex: 1;
        list-style: none;
    }

    &__list-title {
        margin-bottom: 9px;

        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__link {
        display: inline-block;
        padding: 4px;
        margin-left: -4px;

        border-radius: 5px;

        transition: 0.3s;
        &:hover {
            background-color: $colorLightGrey;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 455px;
        width: 100%;
        @media (max-width: 767.98px) {
            max-width: 100%;
        }
    }

    &__form-title {
        margin-bottom: 33px;
        

        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media (max-width: 767.98px) {
            margin-bottom: 19px;
            max-width: 274px;
        }
    }

    &__input-block {
        position: relative;
    }

    &__email {
        width: 100%;
        padding: 12px 16px;
        
        outline: none;
        border: none;
        border-bottom: 1px solid #C4C4C4;

        opacity: 1;
        transition: opacity 0.3s ease;
        &:focus::placeholder {
            opacity: 0; 
            transition: opacity 0.3s ease;
        }
    }

    &__input-btn {
        position: absolute;
        top: 0;
        right: 0;

        height: 40px;
        width: 40px;

        background-image: url(../../img/close.svg);
        background-repeat: no-repeat;
        background-position: center center;

        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background-color: $colorLightGrey;
        }
    }

    &__btn {
        margin-top: 36px;
        margin-left: auto;
        width: 150px;
        padding: 9px 28px;

        background-color: $colorWhite;
        border: 1px solid $colorBlack;

        transition: 0.3s;
        
        cursor: pointer;
        @media (max-width: 767.98px) {
            margin-top: 25px;
        }
        &:hover {
            background-color: $colorLightGrey;
        }
    }
}